- name: "Get list of themes installed on {{ site.id }}"
  ansible.builtin.command: >
    docker run --rm --volumes-from "{{ site.id }}"-web-1 
    --network container:"{{ site.id }}"-web-1 "{{ om_defaults.cli_image }}"
    omeka-s-cli theme:list --json
  register: theme_list_result
  failed_when: false
  changed_when: false

- name: "Create list of current theme ids"
  ansible.builtin.set_fact:
    current_theme_ids: "{{ current_theme_ids|default([]) + [ theme_info.id ] }}"
  loop: "{{ theme_list_result.stdout | from_json }}"
  loop_control:
    loop_var: theme_info

- name: "Create list of specified theme ids for {{ site.id }}"
  ansible.builtin.set_fact:
    specified_theme_list: "{{ om_defaults.themes + site.om_settings.themes|default([]) }}"

- name: "Install specified themes not installed on {{ site.id }}"
  ansible.builtin.command: >
    docker run --rm --volumes-from "{{ site.id }}"-web-1 
    --network container:"{{ site.id }}"-web-1 "{{ om_defaults.cli_image }}"
    omeka-s-cli theme:download {{ theme_id }} -f
  loop: "{{ specified_theme_list }}"
  loop_control:
    loop_var: theme_id
  when: not theme_id in current_theme_ids

- name: "Remove unspecified themes for {{ site.id }}?"
  ansible.builtin.set_fact:
    remove_unspecified_themes: "{{ site.om_settings.remove_unspecified_themes|default(om_defaults.remove_unspecified_themes) }}"

- name: "Initialize unspecified_theme_ids to empty list"
  ansible.builtin.set_fact:
    unspecified_theme_ids: []

- name: "Check if any unspecified themes installed on {{ site.id }}"
  ansible.builtin.set_fact:
    unspecified_theme_ids: "{{ unspecified_theme_ids+[theme_id] }}"
  loop: "{{ current_theme_ids }}"
  loop_control:
    loop_var: theme_id
  when: theme_id not in specified_theme_list

- name: "Remove unspecified themes?"
  ansible.builtin.debug:
    msg: "remove_unspecified_themes={{remove_unspecified_themes}}"

- name: "Display unspecified themes"
  ansible.builtin.debug:
    msg: "unspecified_theme_ids={{ unspecified_theme_ids }} should be added to theme list in inventory OR removed by specifying remove_unspecified_themes: True and re-running."
  failed_when: remove_unspecified_themes!=True
  when: unspecified_theme_ids|length>0
  
- name: "Remove unspecified themes on {{ site.id }}"
  ansible.builtin.command: >
    docker run --rm --volumes-from "{{ site.id }}"-web-1 
    --network container:"{{ site.id }}"-web-1 "{{ om_defaults.cli_image }}"
    omeka-s-cli theme:delete {{ theme_id }}
  loop: "{{ unspecified_theme_ids }}"
  loop_control:
    loop_var: theme_id
  when: remove_unspecified_themes
