---
- name: "Get list of modules installed on {{ site.id }}"
  ansible.builtin.command: >
    docker run --rm --volumes-from "{{ site.id }}"-web-1 
    --network container:"{{ site.id }}"-web-1 "{{ om_defaults.cli_image }}"
    omeka-s-cli module:list --json
  register: module_list_result
  failed_when: false
  changed_when: false

- name: "Create module list from json"
  ansible.builtin.set_fact:
    current_module_infos: "{{ module_list_result.stdout | from_json }}"
  when: module_list_result.stdout != ""
