---

- name: "Upgrade Omeka-S core on {{ site.id }}"
  ansible.builtin.command: >
    docker run --rm --volumes-from "{{ site.id }}"-web-1 
    --network container:"{{ site.id }}"-web-1 "{{ om_defaults.cli_image }}"
    omeka-s-cli core:update

- name: "Update database after upgrade of site {{ site.id }}"
  ansible.builtin.command: >
    docker run --rm --volumes-from "{{ site.id }}"-web-1 
    --network container:"{{ site.id }}"-web-1 --user 33:33 "{{ om_defaults.cli_image }}"
    curl --data-urlencode "submit="  http://localhost/migrate

- name: "Download, install, update, upgrade, and enable specified modules for {{ site.id }}"
  ansible.builtin.include_tasks:
    file: om_download_install_update_upgrade_enable_specified_modules.yml

- ansible.builtin.set_fact:
    complete_theme_list: "{{ om_defaults.themes + site.om_settings.themes|default([]) }}"

- name: "Upgrade themes on {{ site.id }}"
  ansible.builtin.command: >
    docker run --rm --volumes-from "{{ site.id }}"-web-1 
    --network container:"{{ site.id }}"-web-1 "{{ om_defaults.cli_image }}"
    omeka-s-cli theme:download "{{ theme_name }}" --force
  loop: "{{ complete_theme_list }}"
  loop_control:
    loop_var: theme_name

- name: "Update containers"
  ansible.builtin.include_tasks:
    file: compose_update.yml
  vars:
    services: "db"
