---

- name: "Upgrade Omeka-S core on {{ site.id }}"
  ansible.builtin.command: >
    docker run --rm --volumes-from "{{ site.id }}"-web-1 
    --network container:"{{ site.id }}"-web-1 "{{ om_defaults.cli_image }}"
    omeka-s-cli core:update

- name: "Update database after upgrade of site {{ site.id }}"
  ansible.builtin.command: >
    docker run --rm --volumes-from "{{ site.id }}"-web-1 
    --network container:"{{ site.id }}"-web-1 --user 33:33 "{{ om_defaults.cli_image }}"
    curl --data-urlencode "submit="  http://localhost/migrate

- name: "Update modules in database if needed for {{ site.id }}"
  ansible.builtin.include_tasks:
    file: om_update_module_db_if_needed.yml

- name: "Get current module info for {{ site.id }}"
  ansible.builtin.include_tasks:
    file: om_get_current_module_infos.yml

- name: "Update modules on {{ site.id }}"
  ansible.builtin.command: >
    docker run --rm --volumes-from "{{ site.id }}"-web-1 
    --network container:"{{ site.id }}"-web-1 "{{ om_defaults.cli_image }}"
    omeka-s-cli module:update "{{ module_info.id }}"
  loop: "{{current_module_infos}}"
  loop_control:
    loop_var: module_info
  when: module_info.updateAvailable==True

- ansible.builtin.set_fact:
    complete_theme_list: "{{ om_defaults.themes + site.om_settings.themes|default([]) }}"
    
- name: "Upgrade themes on {{ site.id }}"
  ansible.builtin.command: >
    docker run --rm --volumes-from "{{ site.id }}"-web-1 
    --network container:"{{ site.id }}"-web-1 "{{ om_defaults.cli_image }}"
    omeka-s-cli theme:download "{{ theme_name }}" --force
  loop: "{{ complete_theme_list }}"
  loop_control:
    loop_var: theme_name
  
- name: "Update modules in database if needed for {{ site.id }}"
  ansible.builtin.include_tasks:
    file: om_update_module_db_if_needed.yml

- name: "Update containers"
  ansible.builtin.include_tasks:
    file: compose_update.yml
  vars:
    services: "db"

# docker run --rm --volumes-from omekatest-web-1 --network container:omekatest-web-1 omeka-s-cli omeka-s-cli core upgrade -f
