- name: "Get list of plugins installed on {{ site.id }}"
  ansible.builtin.command: >
    docker run --rm --volumes-from "{{ site.id }}"-web-1 
    --network container:"{{ site.id }}"-web-1 --user 33:33
    -e WORDPRESS_DB_HOST=db
    -e WORDPRESS_DB_USER="{{ site.database.user }}"
    -e WORDPRESS_DB_PASSWORD="{{ site.database.user_password }}"
    -e WORDPRESS_DB_NAME="{{ site.database.name }}"
    "{{ site.wp_settings.wp_cli_image | default(wp_defaults.cli_image) }}"
    wp plugin list --format=json --fields=name
  register: plugin_list_result
  failed_when: false
  changed_when: false

- name: "Parse plugin list"
  ansible.builtin.set_fact:
    plugin_list: "{{ plugin_list_result.stdout | from_json }}"

- name: "Create list of plugin names"
  ansible.builtin.set_fact:
    plugin_name_list: "{{ plugin_list | map(attribute='name') }}"
- ansible.builtin.set_fact:
    complete_plugin_list: "{{ wp_defaults.plugins + site.wp_settings.plugins|default([]) }}"
- ansible.builtin.set_fact:
    complete_active_plugin_list: "{{ wp_defaults.active_plugins + site.wp_settings.active_plugins|default([]) }}"
- ansible.builtin.debug:
    msg: "complete_theme_list: {{ complete_theme_list }}"


- ansible.builtin.debug:
    msg: "Installed Plugins: {{ plugin_name_list }}"

- name: "Install specified plugins not installed on {{ site.id }}"
  ansible.builtin.command: >
    docker run --rm --volumes-from "{{ site.id }}"-web-1 
    --network container:"{{ site.id }}"-web-1 --user 33:33
    -e WORDPRESS_DB_HOST=db
    -e WORDPRESS_DB_USER="{{ site.database.user }}"
    -e WORDPRESS_DB_PASSWORD="{{ site.database.user_password }}"
    -e WORDPRESS_DB_NAME="{{ site.database.name }}"
    "{{ site.database.wp_cli_image | default(wp_defaults.cli_image) }}"
    wp plugin install {{ plugin_name }}
  loop: "{{ complete_plugin_list }}"
  loop_control:
    loop_var: plugin_name
  when: not plugin_name in plugin_name_list

- name: "Remove unspecified plugins for {{ site.id }}?"
  ansible.builtin.set_fact:
    remove_unspecified_plugins: "{{ site.wp_settings.remove_unspecified_plugins|default(wp_defaults.remove_unspecified_plugins) }}"

- name: "Check if any unspecified plugins installed on {{ site.id }}"
  ansible.builtin.debug:
    msg: "{{ plugin_name }}"
  loop: "{{ plugin_name_list }}"
  loop_control:
    loop_var: plugin_name
  failed_when: not plugin_name in complete_plugin_list
  when: remove_unspecified_plugins!=True
    
- name: "Remove unspecified plugins on {{ site.id }}"
  ansible.builtin.command: >
    docker run --rm --volumes-from "{{ site.id }}"-web-1 
    --network container:"{{ site.id }}"-web-1 --user 33:33
    -e WORDPRESS_DB_HOST=db
    -e WORDPRESS_DB_USER="{{ site.database.user }}"
    -e WORDPRESS_DB_PASSWORD="{{ site.database.user_password }}"
    -e WORDPRESS_DB_NAME="{{ site.database.name }}"
    "{{ site.wp_settings.wp_cli_image | default(wp_defaults.cli_image) }}"
    wp plugin delete {{ plugin_name }}
  loop: "{{ plugin_name_list }}"
  loop_control:
    loop_var: plugin_name
  when: not plugin_name in complete_plugin_list and remove_unspecified_plugins==True

- name: "Activate specified plugins {{ site.id }}"
  ansible.builtin.command: >
    docker run --rm --volumes-from "{{ site.id }}"-web-1 
    --network container:"{{ site.id }}"-web-1 --user 33:33
    -e WORDPRESS_DB_HOST=db
    -e WORDPRESS_DB_USER="{{ site.database.user }}"
    -e WORDPRESS_DB_PASSWORD="{{ site.database.user_password }}"
    -e WORDPRESS_DB_NAME="{{ site.database.name }}"
    "{{ site.wp_settings.wp_cli_image | default(wp_defaults.cli_image) }}"
    wp plugin activate {{ plugin_name }}
  loop: "{{ complete_active_plugin_list }}"
  loop_control:
    loop_var: plugin_name
